.App {
  text-align: center;
  
}

p {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  display: inline-block;
  width: 100px;
  /*padding-top:1rem;
  padding-bottom:1rem;
  padding-left:2rem;
  padding-right:2rem;*/
  text-align: center;
  color: #fff;
  background-color: #3d62cf;
}

h2 {
  margin-bottom: 3rem;
  padding-top:1rem;
  padding-bottom:1rem;
  padding-left:2rem;
  padding-right:2rem;
  text-align: center;
  color: #fff;
  background-color: #3d62cf;
}

input[type=text] {
  margin-top: 3rem;
  padding: 5px;
  border: 2px solid #cccccc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

input[type=submit] {
  padding: 5px 15px;
  background: #99e0b2;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

td {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  padding-top:1rem;
  padding-bottom:1rem;
  padding-left:2rem;
  padding-right:2rem;
  text-align: center;
  color: #fff;
  background-color: #3d62cf;
}
